// Primary
$SoftBlue: hsl(231, 69%, 60%);
$SoftRed: hsl(0, 94%, 66%);
//  Neutral
$GrayishBlue: hsl(229, 8%, 60%);
$VeryDarkBlue: hsl(229, 31%, 21%);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif !important;
}
a{
    cursor: pointer;
    text-decoration: none;
   
    &:hover{
        text-decoration: none !important;
    }
}
h2, p{
    text-align: left;
}
h2, h3{
   color: $VeryDarkBlue;
   font-size: 30px;
}
p{
    color: $GrayishBlue;
}
body{
    font-size: 18px;
}
nav{
    // margin: 0 auto;
    // width: 90%;
}
.nav-item{
    text-transform: uppercase;
    padding: 1rem;
    
   
}
.nav-link{
    color:$VeryDarkBlue !important;
    &:hover{
        color: $SoftRed !important;
    }
}
.nav-btn{
    font-weight: 500;
    text-transform: uppercase;
    background:$SoftRed;
    box-shadow: 0px 0px 3px #666;
    border:2px solid $SoftRed;
    padding: 0.5rem 2.5rem;

    &:hover{
        color:$SoftRed;
        border:2px solid $SoftRed;
        background: transparent;
    }
}
// Simple bookmark section
.bookmark-row{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;

    .bookmark-text{
        order: 2;
        padding: 7rem 7rem;
    padding-right: 10rem;
    margin-top: 5rem;
    }
    .bookmark-img{
        margin-top: 4rem;
        margin-bottom: 6rem;
        order: 1;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .round-background-features{
            position: absolute;
            left:0;
            margin-top: 9rem;
            // padding:5rem 10rem;
            background:$SoftBlue;
            border-top-right-radius: 7rem;
            border-bottom-right-radius: 7rem;
            padding:12vw 19vw;
            z-index: 0;
        }
        .illustration-features-tab-1, .illustration-features-tab-2{
            position: relative;
            z-index: 10;
            width:85%;

        }
    }
}
.simple-bookmark-text{
    // order:2;
    padding:10rem;
    text-align: center;
    button{
        padding:0.7rem 1rem;
       
        font-weight: 500;
        &:first-of-type{
            background:$SoftBlue;
            margin-right:0.5rem;
            border:2px solid $SoftBlue;
            &:hover{
                background:transparent;
                color: $SoftBlue;
                border:2px solid $SoftBlue;
            }
        }
        &:last-of-type{
            box-shadow: 0px 2px 5px rgb(235, 229, 229);
            background: rgb(245, 245, 245);
            color:$VeryDarkBlue;
            border:2px solid  transparent;
            &:hover{
                background:transparent;
                color: $VeryDarkBlue;
                border:2px solid  $GrayishBlue;
            }
        }
    }
}
.simple-bookmark-svg{
    // order:1;
    padding-top: 5rem;
}
.round-background{
    margin-top: 7rem;
    position: absolute;
    z-index: 10;
    right: 0;
    // top: 300;
    border-top-left-radius: 7rem;
    border-bottom-left-radius: 7rem;
    padding:9vw 20vw;
    background: $SoftBlue;
}
.bookmark-manager-svg{
    width:35vw;
    height: auto;
    background:rgb(78, 77, 77);
    border: 15px solid rgb(27, 27, 27);
    border-radius:2rem;
    box-shadow: 0px 0px 7px #666;
    position: relative;
    z-index: 50;
   
    path{
        fill: $SoftBlue;
    }
}
// .nav-tabs > li {
//     float:none;
//     display:inline-block;
//     zoom:1;
// }

// .nav-tabs {
//     text-align:center;
// }
.nav-tabs{
    // width:50vw;
    // margin:0 auto;
    .nav-item{
        padding-bottom: 0;
        
        .active{
            border-bottom: 3px solid $SoftRed;
            color: $VeryDarkBlue !important;
        }
    }
    .nav-link{
        border:none;
        color:$GrayishBlue !important;
    }

    a{
        text-transform: capitalize;
    }
}
#back{
    // border-top-right-radius: 2rem;
    width:370px;
    // width:365px;
}
// Extentions section
.extention-row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tile{
    box-shadow: 0px 3px 5px rgb(209, 209, 209);
    padding: 3.8rem 0;
    padding-bottom: 1.5rem;
    width:69%;
    border-radius:2rem;
    // position: relative;
    .dots{
        // position: absolute;
        // transform: scale(1.1);
        // border: 1px solid black;
        // transform: ;
    }
    .extention-description{
        margin-bottom: 3rem;
    }
    button{
        margin-top: 2rem;
        padding:1rem 3rem;
        background:$SoftBlue;
    }
}
.extention-description{
    color: $GrayishBlue;
    font-size: 80%;
    margin-bottom: 1.5rem;
}
.padding{
    // padding: 0 27rem;
}
.chrome{
    margin-left:5rem;
}
.firefox{
    margin-top: 5rem;
}
.opera{
    margin-top: 10rem;
}

// FAQ
// Arrow-movement
.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\276F"; /* "play" icon */
    float: right;
    color: $SoftRed;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg) translateY(-8px);
}
// End of arrow movement
//Transparent dropdowns
.transparent-bg{
    padding:10px;
    background-color: transparent !important;
    margin:0 !important;
    border-left: none !important;
    border-radius: 0 !important;
    border-right: none !important;
    box-shadow: none !important;

}
.text-center > button{
    margin-top:5rem;
    margin-bottom:7rem;
    padding: 1rem 2rem;
    background-color:$SoftBlue;
}
.faq-width{
    width:70%;
    margin:0 auto;
}
// Contact section
input{
    padding:0.8rem 2rem;
    border-radius: 0.3rem;
    // font-size: 20px;
    outline: none;
    border: none;
    margin-right: 0.7rem;
    &::-webkit-input-placeholder {
        color: $GrayishBlue; /*Change the placeholder color*/
        opacity: 0.5; /*Change the opacity between 0 and 1*/
   }
}
.contact{
    padding:5rem;
    // padding-top:3rem;
    h5{
        margin-bottom:4rem;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: .5rem;
    }
    h3{
        margin-bottom:4rem;
        color: #fff;
    }
    background:$SoftBlue;
    color: #fff;
    button{
        background-color: $SoftRed;
        padding: 1rem 2rem;
    }
}

.contact-input{
    display: flex;
    justify-content:center;
    align-items: center;
}
// End of contact section

footer {
    background:$VeryDarkBlue;
    .align{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:2rem;
    }
    .social{
        justify-content: flex-end;
        a{
            margin: 0 1.5rem;
        }
    }
    ul{
        display: flex;
        justify-content:center;
        align-items: center;
        
        
    a{
        text-decoration: none;
        color:$VeryDarkBlue;
        color: #fff;
    }
    li{
        list-style-type: none;
        margin:0 3.5rem;
        margin-top: 0.45rem;
    }
}
.white-text{
    fill: #fff !important;
}
.attribution{
    display: block;
}
}

@media screen and (max-width:1024px){
    .tile button{
        font-size: 70%;
    }
}
@media screen and (max-width:768px){
    .faq-width{
        width:50%;
        margin:0 auto;
    }
}