* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #fa5757 !important;
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

h2, p {
  text-align: left;
}

h2, h3 {
  color: #252b46;
  font-size: 30px;
}

h3, p {
  margin-bottom: 2rem;
}

p {
  color: #9194a1;
}

body {
  font-size: 18px;
}

nav {
  margin: 0 auto;
  width: 82%;
}

section {
  margin-bottom: 8rem;
}

section:last-of-type {
  margin-bottom: 0;
}

.blue-btn {
  background-color: #5368df;
  border: 2px solid #5368df;
}

.blue-btn:hover {
  color: #5368df;
  background: transparent;
  border: 2px solid #5368df;
}

.red-btn {
  background-color: #fa5757;
  border: 2px solid #fa5757;
}

.red-btn:hover {
  background: #fff;
  color: #fa5757;
  border: 2px solid #fa5757;
}

.nav-item {
  text-transform: uppercase;
  padding: 1rem;
}

.nav-item:hover {
  color: #fa5757 !important;
}

#hover0:hover, #hover1:hover, #hover2:hover {
  color: #fa5757 !important;
}

.nav-btn {
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 3px #666;
          box-shadow: 0px 0px 3px #666;
  padding: 0.5rem 2.5rem;
}

.bookmark-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmark-row .bookmark-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 7rem 7rem;
  padding-right: 10rem;
}

.bookmark-row .bookmark-text button {
  padding: 1rem 2rem;
}

.bookmark-row .bookmark-img {
  margin-top: 4rem;
  margin-bottom: 6rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmark-row .bookmark-img .round-background-features {
  position: absolute;
  left: 0;
  margin-top: 9rem;
  background: #5368df;
  border-top-right-radius: 7rem;
  border-bottom-right-radius: 7rem;
  padding: 25% 37%;
  z-index: 0;
}

.bookmark-row .bookmark-img .illustration-features-tab-1, .bookmark-row .bookmark-img .illustration-features-tab-2 {
  position: relative;
  left: 6%;
  z-index: 10;
  width: 85%;
}

.simple-bookmark-text {
  padding: 10rem 0;
  padding-left: 10rem;
  text-align: center;
}

.simple-bookmark-text button {
  padding: 0.7rem 1rem;
  font-weight: 500;
}

.simple-bookmark-text button:first-of-type {
  margin-right: 0.5rem;
}

.simple-bookmark-text button:last-of-type {
  -webkit-box-shadow: 0px 2px 5px #ebe5e5;
          box-shadow: 0px 2px 5px #ebe5e5;
  background: whitesmoke;
  color: #252b46;
  border: 2px solid  transparent;
}

.simple-bookmark-text button:last-of-type:hover {
  background: transparent;
  color: #252b46;
  border: 2px solid #9194a1;
}

.simple-bookmark-svg {
  text-align: center;
  padding-top: 5rem;
  position: relative;
}

.round-background {
  margin-top: 5rem;
  position: absolute;
  z-index: 10;
  right: 0;
  border-top-left-radius: 7rem;
  border-bottom-left-radius: 7rem;
  padding: 21% 40%;
  background: #5368df;
}

.bookmark-manager-svg {
  width: 35vw;
  height: auto;
  background: #4e4d4d;
  border: 15px solid #1b1b1b;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 7px #666;
          box-shadow: 0px 0px 7px #666;
  position: relative;
  z-index: 50;
}

.bookmark-manager-svg path {
  fill: #5368df;
}

.nav-tabs .nav-item {
  padding-bottom: 0;
}

.nav-tabs .nav-item .active {
  border-bottom: 3px solid #fa5757;
  color: #252b46 !important;
}

.nav-tabs .nav-link {
  border: none;
  color: #9194a1 !important;
}

.nav-tabs a {
  text-transform: capitalize;
}

#back {
  width: 370px;
}

.extention-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tile {
  padding: 3.8rem 0;
  padding-bottom: 1.5rem;
  width: 69%;
  border-radius: 2rem;
}

.tile .extention-description {
  color: #9194a1;
  margin-bottom: 1.5rem;
  margin-bottom: 3rem;
}

.tile button {
  padding: 1rem 3rem;
}

.chrome {
  margin-left: 5rem;
}

.firefox {
  margin-top: 5rem;
}

.opera {
  margin-top: 10rem;
}

.chrome svg:first-of-type, .firefox svg:first-of-type, .opera svg:first-of-type {
  margin-bottom: 1.5rem;
}

.chrome button, .firefox button, .opera button {
  margin-top: 2rem;
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #5368df;
}

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\276F";
  /* "play" icon */
  float: right;
  color: #fa5757;
  font-size: 30px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.transparent-bg {
  padding: 1.5rem 0;
  border-top: 1px solid #cecaca;
}

.transparent-bg a {
  color: #252b46;
}

.transparent-bg a:hover {
  color: #fa5757;
}

.bottom-line {
  padding-bottom: 2rem 0;
  border-bottom: 1px solid #cecaca;
}

.text-center > button {
  margin-top: 5rem;
  margin-bottom: 7rem;
  padding: 1rem 2rem;
}

.faq-width {
  width: 50%;
  margin: 0 auto;
}

input {
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  margin-right: 0.7rem;
}

input::-webkit-input-placeholder {
  color: #9194a1;
  /*Change the placeholder color*/
  opacity: 0.5;
  /*Change the opacity between 0 and 1*/
}

.contact {
  padding: 5rem;
  background: #5368df;
  color: #fff;
}

.contact h5 {
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .5rem;
}

.contact h3 {
  margin-bottom: 4rem;
  color: #fff;
}

.contact button {
  background-color: #fa5757;
  padding: .75rem 2rem;
}

.contact-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background: #252b46;
}

footer .row {
  margin: 0;
}

.white-text {
  fill: #fff;
}

.ul-footer li {
  margin: 0 3rem;
}

.ul-footer li a {
  color: #fff;
  text-transform: uppercase;
}

.social:hover {
  fill: #fa5757;
}

.attribution {
  margin-top: 2rem;
  font-size: 18px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 1024px) {
  .simple-bookmark-text {
    padding: 5rem 0;
    padding-left: 4rem;
  }
  .round-background {
    margin-top: 3.5rem;
  }
  .simple-bookmark-svg svg {
    width: 80%;
  }
  .illustration-features-tab-1, .illustration-features-tab-2 {
    width: 70% !important;
    left: -8rem !important;
  }
  .ul-footer li {
    margin: 0 1.5rem;
  }
  .tile button {
    font-size: 70%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
  }
  .features-section h3, .features-section p {
    text-align: center;
  }
  .features-section button {
    display: none;
  }
  .illustration-features-tab-1, .illustration-features-tab-2 {
    width: 30%;
  }
  .chrome {
    margin-left: 0;
  }
  .tile {
    width: 100%;
  }
  .tile svg:last-of-type {
    width: 60%;
  }
  .tile button {
    margin-top: 1rem;
  }
  .chrome, .opera, .firefox {
    padding: 0 6rem;
  }
  .faq-width {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  br {
    display: none;
  }
  .simple-bookmark-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    padding-top: 5rem;
  }
  .simple-bookmark-text h2, .simple-bookmark-text p {
    font-size: 18px;
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .simple-bookmark-svg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bookmark-row .bookmark-text {
    padding: 0;
  }
  .bookmark-row .bookmark-text p {
    padding: 0 1rem;
  }
  .illustration-features-tab-1, .illustration-features-tab-2 {
    width: 90% !important;
    left: 0 !important;
  }
  .blue-btn {
    margin-left: 1rem;
  }
  .chrome, .opera, .firefox {
    padding: 0;
  }
  .faq-width h4 {
    font-size: 15px;
  }
  .contact {
    padding: 5rem 0;
  }
  .contact h3 {
    font-size: 25px;
  }
  .contact h5 {
    font-size: 13px;
  }
  .contact-input {
    display: block;
  }
  .contact-input input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .contact-input button {
    width: 80%;
  }
  footer {
    text-align: center;
  }
  footer .footer-logo {
    padding: 1.5rem 0;
  }
  footer li {
    padding: 1rem 0;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(37, 43, 70, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid rgba(216, 216, 216, 0.233);
  width: 85%;
  margin: 0 auto;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay button {
  font-size: 25px;
  text-transform: uppercase;
  width: 106%;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  padding: .7rem 0;
  margin-top: 1.5rem;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.overlay button:hover {
  background: #fa5757;
  border: 2px solid #fa5757;
}

.overlay .social {
  position: relative;
  bottom: -5%;
}

.overlay .social svg {
  margin: 0 1rem;
  margin-top: 10rem;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
}

.overlay-content .hidden-logo {
  margin-bottom: 2rem;
  margin-left: 2rem;
  text-align: left;
}

.overlay-content .hidden-logo circle {
  fill: #fff;
}

.overlay-content .hidden-logo #flag {
  fill: #252b46;
}

.overlay .closebtn {
  border-top: none;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
}

@media screen and (max-height: 575px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*# sourceMappingURL=style.css.map */